# idea
.idea
*.iml

# Package Files #
*.jar
*.class

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.gradle/
build/reports/
build/resources/
build/test-results/
build/tmp/
out/